* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}